/* Typography */

html {
  font-family: "Roboto", sans-serif;
}

/* Theme */

main {
	background: #E8EAF6;
	color: #303F9F;
}

.my-icons a {
	color: #303F9F;
}

.my-icons a svg path{
	fill: #303F9F;
}

@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

.my-icons i {
  font-size: 3em;
  margin-bottom: 20px;
}

/* Custom Styles */

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  justify-content: center;
  padding: 300px 30px 100px;
  text-align: center;
  flex: 1 0 auto;
}

main > .intro {
  font-family: "Reem Kufi", sans-serif;
  font-size: 3.75em;
  font-weight: 600;
}

main > .portfolio-title {
  font-family: "Reem Kufi", sans-serif;
  font-size: 1.75em;
  font-weight: 600;
}

.portfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.portfolio-item {
  font-size: 1.5rem;
  margin: 1rem 0;
  width: 400px;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 480px) {
  .portfolio-item {
    width: auto;
  }
  .main {
    padding-top: 100px;
  }
}

.portfolio-title {
  font-family: "Reem Kufi", sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  margin-bottom: 10px;
}

.email {
  text-decoration: none;
  margin-top: auto;
  font-family: "Reem Kufi", sans-serif;
  font-size: 1.75em;
  font-weight: 300;
  background: #e8eaf6;
  color: #303f9f;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  padding-bottom: 20px;
}

.portfolio-link {
  position: relative;
  text-decoration: none;
  margin-bottom: 7px;
  color: #303f9f;
  width: fit-content;
}

main > .tagline {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-weight: 100;
}

.my-icons i {
  padding: 10px;
}

.devto {
  margin-bottom: -0.2rem;
}

.devto svg {
  margin-bottom: -0.2rem;
  margin-left: 0.675rem;
  width: 2.65rem;
  height: 2.65rem;
}

/* Hover link */
.link {
  float: left;
  min-width: 150px;
  /* max-width: 250px; */
  /* margin: 1em; */
  padding: 0 2em;
  border: none;
  /* background: #16c6e1; */
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}
.link:focus {
  outline: none;
}
.link > span {
  vertical-align: middle;
}

/* Ujarak */
.link--ujarak {
  -webkit-transition: border-color 0.4s, color 0.4s;
  transition: border-color 0.4s, color 0.4s;
}
.link--ujarak::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  /* background: #16c6e1; */
  background: transparent;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.link--ujarak.link--round-s::before {
  border-radius: 2px;
}
.link--ujarak.link--inverted::before {
  background: #7986cb;
}
.link--ujarak,
.link--ujarak::before {
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.link--ujarak:hover {
  color: #fff;
  /* color: darkgoldenrod; */
  border-color: #7986cb;
}
.link--ujarak.link--inverted:hover {
  /* color: #37474f; */
  color: #fff;
  border-color: #fff;
}
.link--ujarak:hover::before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}